*.aux
*.log
*.out
*.DS_Store
tmp.jemdoc
cv_yibo/cv_yibo_*.pdf
cv_yibo/cv_yibo_tenure*.pdf
cv_yibo/doc/publication.tex
cv_yibo/doc/publication_tenure.tex
cv_yibo/doc/publication_shortref.tex
cv_yibo_short
cv_yibo_cn/cv_yibo_tenure*.pdf
cv_yibo_cn/doc/publication_tenure.tex
publications.jemdoc
vendor
_site
Gemfile.lock
.bundle
